*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    min-height: 100%;

}
.circle{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:500px;
    height:500px;
    background:red;
    border-radius: 50%;
}
.reg-button{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin:50px
}