*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    min-height: 100vh;

}
.circle{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:200px;
    height:200px;

    border-radius: 50%;
}
.fryboy{
    position:absolute;
    width:150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
}
.text{
    position: absolute;
    width:100%;
    height: 100%;
    justify-content: flex-end;
    animation:rotateText 10s linear infinite;
}
@keyframes rotateText {
    0%{
        transform:rotate(360deg);
    }
    100%{
        transform:rotate(0deg);
    }
}
.text span{
    position: absolute;
    left: 50%;
    font-size:1.5em;
    transform-origin: 0 100px;

}
.reg-button{
    /*display: flex;*/
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /*margin:5px*/
}
