<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><head>
    <meta charset="UTF-8">
    <title>hey</title>
</head>
<body>
</div>
<form th:action="@{/login}"method="post">
    <label for="username"><span class="required">* </span>User Name:</label><br>
    <input class="login-input" type="text" id="username" name="username" placeholder="User Name" required><br>
    <br><label for="password"><span class="required">* </span>Password:</label><br>
    <input class="login-input" type="password" id="password" name="password" placeholder="Password"><br>
    <br> <button style="border-radius: 25px" type="submit" value="submit">Submit</button><br>
    <br><a style="text-align: center; color: #ef2c61" href="/resetpw">Forgot your password?</a>
</form>
</div>
</body>
</html>